# Data files
data/raw/*
data/parquet/*
data/fundamentals/*
data/features/*
data/labels/*
data/models/*
data/portfolio/*
data/reports/*
data/simfin_data/*
!data/.gitkeep

# Database
*.db

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints
#*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Temporary files
*.tmp
*.bak
data/simfin_data/
data/parquet
data/simfin_data/
data/simfin_data/download/us-income-quarterly.zip
data/results/scored_df.parquet
data/results/weights_df.parquet
